@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Morris";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/MorrisRoman-Black.ttf);
  }
}

.markings {
  fill: #fbc841;
}
