@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Morris";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/MorrisRoman-Black.ttf);
  }
}

.markings {
  fill: #fbc841;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}
